.todoLIst {
  width: 100%;

  /* padding: 10px; */
  /* background-color: rgb(247, 243, 161);
  border-radius: 4px; */

  min-height: 181px;
}

.todoList__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;

  border: 1px solid grey;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 1px grey;

  transition: transform 250ms linear, border-style 250ms linear;
}

.todoList__item:not(:last-child) {
  margin-bottom: 10px;
}

.todoList__item:hover {
  transform: scale(1.02);
  border-style: dashed;
}

.todoList__text {
}

.completed {
  font-style: italic;
  text-decoration: line-through;
}

.todoList__input {
  width: 20px;
  height: 20px;

  accent-color: rgb(187, 53, 53);
}

.todoList__button {
  width: 25px;
  height: 25px;

  font-size: 12px;
  border: 1px solid transparent;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(187, 53, 53);

  transition: box-shadow 250ms linear, background-color 250ms linear;
}

.todoList__button:hover,
.todoList__button:focus {
  color: rgb(187, 53, 53);
  background-color: #fff;
  border-color: rgb(187, 53, 53);
}

.todoList__button:active {
  box-shadow: 2px 2px 4px black;
}
